main {
  max-width: 40rem;
  align-items: center;
}

#book-list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}
ol {
  list-style: none;
  padding-left: 20%;
}

.titulok {
  border: solid;
  border-radius: 5px;
}
main ul {
  list-style: none;
}
article {
  height: fit-content;
  padding-top: 0%;
  align-items: center;
  width: 75%;
  border: solid;
  border-color: rgb(254, 242, 250);
  border-radius: 5px;
  background-color: rgb(254, 242, 250);
  margin-bottom: 10px;
}

p {
  padding-bottom: 0px;
  font-size: 17px;
  color: rgb(51, 24, 47);
}
article h2 {
  padding: 0;
  margin: 0;
  font-size: 27px;
  color: rgb(51, 24, 47);
  background-color: rgb(165, 42, 136); /*najsta farbu z detailov*/
}
article p {
  padding-bottom: 0px;
  font-size: 17px;
  color: rgb(51, 24, 47);
}
a {
  margin: 0%;
  font-size: 17px;
  color: rgb(218, 19, 131);
  text-decoration: none;
}
a:hover {
  color: rgb(239, 142, 168);
}
hr {
  width: auto; /*spytay sana nazor*/
}

.book-list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

.book-item {
  border-radius: 4px;
  border: solid;
  border-color: rgb(254, 242, 250);
  border-radius: 5px;
  background-color: rgb(254, 242, 250);
  margin-bottom: 10px;
}
.book-item h2 {
  align-items: center;
  text-align: center;
  padding: 0;
  margin-left: 17%;
  font-size: 27px;
  color: rgb(51, 24, 47);
  background-color: rgb(204, 146, 189);
  width: 100%;
}
.book-item p {
  margin-left: 15%;
  padding-bottom: 0px;
  font-size: 17px;
  color: rgb(51, 24, 47);
  text-align: center;
  width: 100%;
}

.book-row {
  display: flex;
  justify-content: space-between;
}

.book-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  font-size: 17px;
  color: rgb(218, 19, 131);
  text-decoration: none;
}

.book-actions a,
.btn {
  font-size: 17px;
  color: rgb(218, 19, 131);
  text-decoration: none;
}

.book-actions a:hover,
.book-actions a:active,
.btn:hover,
.btn:active {
  color: rgb(239, 142, 168);
}

ul {
  list-style: none;
}
.btn-primary {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;

  background-color: rgb(255, 89, 194);
  border-radius: 10px;
  border: none;
  color: rgb(51, 24, 47);
}
.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  color: (51, 24, 47);
}
