main {
  width: 95%;
  max-width: 50rem;
  margin: 3rem auto;
  text-align: center;
}

main h1 {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  color: black(202, 158, 62);
}

main ul {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
  display: flex;
}

main li {
  width: 20rem;
  height: 10rem;
  border-radius: 6px;
  margin: 0 1rem;
  overflow: hidden;
}

main li a {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(48, 42, 31);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(218, 205, 183);
  font-size: 1.25rem;
  padding: 1rem;
  box-sizing: border-box;
}

main li a:hover,
main li a:active {
  background-color: rgb(100, 81, 43);
}

/* Reset default browser styles */
body,
table,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

td {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

td.actions {
  text-align: center;
}

.admin button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.admin button:hover {
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
img {
  max-width: 30%;
}
