<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>
  <body>
    <%- include("includes/header.ejs") %> <%-
    include("includes/mobile-drawer.ejs") %>
    <main>
      <h1>Vyskytla sa chyba! 500</h1>
      <p>!!!! Sorry, snazime sa to co najskor opravit !!!!</p>
    </main>
  </body>
</html>
